.welcome-header {
    text-align: center;
    margin-top: 30vh;
    font-size: 50px;
}

.start-button{
    margin-top: 5vh;
    margin-left: 45vw;
    font-size: 25px;
    background-color: green;
    color: black;
    outline: 0;
}
.start-button:hover{
    background-color: rgb(0, 75, 0);
    color: black;
}
/*----------------------------Styling nav------------------------------------*/
ul {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100vw;
}

li{
    display: inline-block;
}
li button{
    color: white;
    text-align: center;
    padding: 2vh 20vw;
    text-decoration: none;
    background-color: black;
}
  
  /* Change the link color to #111 (black) on hover */
li button:hover {
    background-color: #6e6e6e;
}

/*Styling info*/

#game{
    margin: 0;
    width: 100vw;
    height: 100vh;   
    position: absolute;
    top: 0;
    left: 0; 
}
/* Styling canvas */

#game-canvas{
    width: 100vw;
    height: 100vh;
    outline: 0;
    position: absolute;
    top:inherit;
    left:inherit;
}